.hidden {
    display: none;
}

.dropzone {
  text-align: center;
}

.dz-dark {
  background-color: #282A3A;
  border-color: #162780;
  /*border-color: #150050;*/
  border-radius: 10px;
  color: grey;
}

.dz-dark:hover {
  background-color: #04293A;
}

.dz {
  border-color: #9400ff;
  border-radius: 10px;
  color: grey;
}

.dz:hover {
  background-color: aliceblue;
}

.form-check-input:checked[type=checkbox] {
  background-color: #111312;
  border-color: #30D158;
  border: none;
}


ul {
  list-style-type: none !important;
}