.hidden {
    display: none;
}

.dropzone {
  text-align: center;
}

.dz {
  /*border: dashed;*/
  border-color: #9400ff;
  border-radius: 10px;
  color: grey;
}

.dz:hover {
  background-color: aliceblue;
}

.bg-dark nav {
  background-color: aliceblue;
}
