{% extends 'layouts/base.html' %}


{% block content %}
{% load static %}

<div class="container-fluid">
                  <div class="card mt-3">
                    <div class="card-body">
                      <h5 class="card-title">How to upload a file</h5>
                      <p class="text-monospace">"To submit more than x constraints, write them in a text file and upload it here.
                         You can use either minimization or maximization, but make sure to follow the syntax provided in the example below:"</p>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <h6>min:</h6>
                            <p>x + y</p>
                            <h6>subject to:</h6>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">constraint 1</li>
                              <li class="list-group-item">constraint 2</li>
                              <li class="list-group-item">...</li>
                              <li class="list-group-item">constraint n</li>
                            </ul>
                          </div>
                          <div class="col">
                            <h6>max:</h6>
                            <p>x + y</p>
                            <h6>subject to:</h6>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">constraint 1</li>
                              <li class="list-group-item">constraint 2</li>
                              <li class="list-group-item">...</li>
                              <li class="list-group-item">constraint n</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
</div>


{% endblock content %}