{% extends 'layouts/base.html' %}


{% block content %}
{% load crispy_forms_tags %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load static %}


    <style>
        .hidden {
            display: none;
        }
    </style>


    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    {% if error %}
      <h1>Error</h1>
    {% endif %}

    <div id='empty-form' class="hidden form-control">{{formset.empty_form}}</div>
  
      <main role="main" class="container mt-5">
  
        <div class="container">
            
          {% bootstrap_formset_errors formset %}

          <form method="POST">
            {% comment %} {{ formset.management_form }} {% endcomment %}
            {% csrf_token %}
            <div class="mb-3">
              {% bootstrap_field formFunction.function class="form-control"%}
              <div id="emailHelp" class="form-text">Ex: 3*x - 2*y + z</div>
            </div>
            <div class="">
              {% bootstrap_field formFunction.maximize class="form-check-input"%}
            </div>

            <div id='restriction-form-id' class='restriction-form'>
            {% bootstrap_formset formset%} 

          
            </div>  

            <button id='add-more' type="button" class="btn btn-primary">Add Restriction</button>
            <button type="reset" class="btn btn-primary">Clear All</button>
            <button type="submit" class="btn btn-primary">Submit</button>


            </form>
        </div>
  
      </main>


<script src="{% static './js/index.js' %}" type="module"></script>
{% endblock content %}



