{% extends 'layouts/base.html' %}


{% block content %}

{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load static %}




    <style>
        .hidden {
            display: none;
        }

        .dz {
          border: dashed;
          border-color: #9400ff;
          border-radius: 10px;
        }

        .dz:hover {
          background-color: aliceblue;
        }
        .form-check-input:checked {
          background-color: rgb(46, 2, 148);
          border-color: rgb(255, 255, 255);
        }

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
}
      


    </style>

    <!--  Navbar  -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
        </div>
        
      </div>
    </nav>
    <!--  Empty Constraint Form  -->
      <div id="empty-form" class="d-none">{% crispy empty %}</div>
      

      <!--  Main Forms  -->
      <div class="container mt-5 pt-5">
          
        <div class="row">
          <div class="col">


            <form method="POST">
                {% csrf_token %}
                {% crispy formFunction helper %}
                <div id="label-target"></div>
                {% crispy formset helper %}
                <div id="restriction-form-id"> </div>
                <button id='add-more' type="button" class="btn btn-primary">Add Constraint</button>
                <button type="reset" class="btn btn-primary">Clear All</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            
            </div>

              <div class="col">
                  <!--  Upload file  -->
                  <form action="upload/" method="POST" class="dropzone dz" id="drop-zone">
                  {% csrf_token %}
                  </form>

              </div>

          </div>
         <!--  <div class="row text-center">
            <div class="col-6"></div>
            <div class="col">
              <p>
                // minimize         <br>
                min: 2*x + y        <br>
                subject to: x &lt; 1<br>
                            y &lt; 1<br>
                </p>
            </div>
            <div class="col">
              <p>
                // maximize <br>
                max: 2*x + y  <br>
                subject to: x &lt; 1 <br>
                            y &lt; 1 <br>
                </p>
            </div>
          </div> -->
        
       </div>






<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />     
<script src="http://code.jquery.com/jquery.min.js"></script>   
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="{% static './js/index.js' %}" type="module"></script>
<script>
  
  Dropzone.options.dropZone = { // camelized version of the `id`
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 3, // MB
    acceptedFiles: 'text/plain',
    dictInvalidFileType: 'Only .txt files are allowed',
    }



</script>

{% endblock content %}



