html,
body {
  scroll-behavior: smooth;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
}

.active {
  font-weight: bold;
}

pre {
  background-color: #f8f8f8;
  padding: 30px;
}

.App {
  overflow-y: visible;
}



/* .row {
  align-items: center;
  justify-content: center;
  padding: 90px;
} */

#modal-row {
  padding: 0px;
}


/* #footer-div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0d6efd;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
} */

#footer-div {
  height: 4rem;
  margin-top: 450px;
  width:100%;
  background-color: #0d6efd;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

code {
  width: 10px;
  font-family: "Fira Code", "Roboto Mono", Monaco, Consolas, monospace;
}

code ul {
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.dropzone p:hover {
  font-size: 1.4em;
}

.dropzone p {
  text-align: center;
  font-size: 1.2em;
  color: black;
  transition: font-size 0.24s ease-in-out;
}

.dropzone {
  justify-content: center;
  border: 2px dashed #0087f7;
  border-radius: 5px;
  min-height: 150px;
  padding: 35px 35px;
}

#content-section {
  margin-bottom: 150px;
  
}


.nav-links {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.05em;
}

#not-found-error {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
}

.img-zoom:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.error-modal-header {
  background-color: red;
  color: white;
}

.modal-error-p {
  white-space: pre-line;
}

.panel-container {
  text-decoration: none;
  font-weight: 400;
  height: 100%;
  width: 100%;
  background-color: white;  
  display: flex;
  flex-direction: column;
}

#settings-button {
  border-color: #0087f7;
  border-width: 0px;
}

/* Dark mode */
/*#dark .App {
  background-color: #1c2025;
}
*/

#dark .App {
  overflow-y: visible;
}
#dark {
  /*background-color: #1c2025;*/
  background-color: #262626;
} 

#dark .nav-link {
  background-color: #1c2025;
  color: #829ab1;
}



#dark .page-link {
  color: #829ab1;
  background-color: #2f2f2f;
  border-color: #123456;
}

#dark .page-link:hover {
  color: #829ab1;
  background-color: #163c63;
  border-color: #123456;
}

#dark .pagination > .page-link.active > .page-link {
  color: white;
}

#dark .dropdown-toggle {
  color: #bcccdc;
  background-color: #2f2f2f;
  border-color: #123456;
}

#dark .dropdown-menu a {
  color: #bcccdc;
}

#dark .dropdown-menu {
  background-color: #123456;
}

#dark .dropdown-item:hover {
  background-color: #163c63;
}

#dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #123456 inset !important;
}

/* Table */
#dark table {
  background-color: #1c2025;
  color: #829ab1;
  border: #123456;
}

/* Header */
#dark th {
  background-color: #112a44;
  color: white;
}

#dark .table-striped tbody tr:nth-of-type(odd) {
  background-color: #6a6a6a;
}

#dark .table-striped tbody tr:nth-of-type(even) {
  background-color: #1c2025;
}

#dark .table-hover tbody tr:hover td {
  color: white;
  background-color: #23476b;
}

#dark input[type="password"] {
  color: white;
}

#dark input[type="number"] {
  color: white;
}


#dark #footer-div {
  background-color: #112a44;
  color: white;
}

#dark .dropzone {
  background-color: #112a44 !important;
  border-color: #1c2025 !important;
}

#dark .form-check-input:checked {
  background-color: #123456;
}



#dark .navbar {
  background-color: #112a44 !important;
}

#dark p {
  color: #829ab1;
}

#dark label {
  color: #829ab1;
}

#dark h3,
h5 {
  color: #829ab1;
}

#dark .form-control {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

#dark .form-control:focus {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

#dark .btn-outline-success {
  color: #aeee99;
  border-color: #aeee99;
}

#dark .btn-outline-success:hover {
  color: #aeee99;
  border-color: #aeee99;
}

#dark .btn-outline-primary {
  color: #bcccdc;
  border-color: #bcccdc;
}

#dark .btn-outline-primary:hover {
  color: #bcccdc;
  border-color: #bcccdc;
}

#dark .btn-outline-danger {
  color: #bcccdc;
  border-color: #bcccdc;
}

#dark .btn-outline-danger:hover {
  color: #bcccdc;
  border-color: #bcccdc;
}

#dark pre {
  background-color: #2f2f2f;
  color: #829ab1;
}

#dark form input[type="text"] {
  color: white;
}

#dark form input[type="text"]:focus {
  color: white;
}

#dark dd,
dt {
  color: #829ab1;
}

#dark figcaption {
  color: #829ab1;
}

#dark .nav-links {
  color: #829ab1;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.05em;
}

#dark .nav-links:hover {
  color: #bcccdc;
}

#dark .modal-header {
  background-color: #aa4a44;
  color: white;
}

#dark ul {
  color: #829ab1;
}

.MuiDrawer-root {
  color: #066ff0;
}